{% extends 'base.html.twig' %}

{% block title %}Liste des formations{% endblock %}

{% block body %}

<h2>Formations</h2>
<button type="button" class="btn btn-success"> <i class="fa-solid fa-plus"></i> <a href ="{{ path('add_formation') }}">Ajouter une formation</a> </button>

<br>
<br>
<table class="tabFormation">
<thead>
<tr>
<th>Formations</td>
<th>Modifier</td>
<th>Supprimer</td>
</tr>
</thead>
<tbody>
{% for formation in formations %}
<tr>
<td><a href="{{ path('show_formation', {'id': formation.id}) }}">{{ formation.intitule }}</a></td>
<td><a href="{{ path('update_formation', {'id' : formation.id})}}"><div class="orange"><i class="fa-solid fa-pen-to-square"></i></div></a></td>
<td><a href="{{ path('delete_formation', {'id' : formation.id})}}"><div class="rouge"><i class="fa-solid fa-trash-can"></i></div></a></td>
</tr>
{% endfor %}
</tbody>
</table>


    

{% endblock %}
